@media screen and (max-width:1440px) {


    #vs-img{
        width: 700px;
    
    }
    


}







@media screen and (max-width:1355px) {

    .download-div button{

        display: none;
    }
    
}





@media screen and (max-width:1205px) {

   .logo-div{
    margin-left: 40px;
   }
    


   .content1-text{

    margin-left: 29px;
   }
}






@media screen and (max-width:1130px) {


    .vscode{

        height: 1100px;
       
        
    }

    .text{
        margin-top: 44px;
        margin-left: 401px;
        width: fit-content;
    }

        

    #vs-img{
        width: 800px;
    height: 600px;
    margin-left: 162px;
    float: none;
    margin-top: 72px;
}
        
    

    

.search-div{

    display: none;
}




}




@media screen and (max-width:1020px){
    
    .button3-div{

        position: absolute;
        margin-top: 327px;
        margin-left: -174px;
    }
    
    .button4-div{

        position: absolute;
        margin-top: 327px;
        margin-left: 500px;
    }
    .button4-elements{

        width: 295px;
        margin-left: -80px;
    }

    .sec2{
       
        height: 326px;
        padding-left: 37px;
        width: 95%;
    }








}






@media screen and (max-width:1000px) {

.text{
    margin-left: 346px;


}

#vs-img{
    margin-left: 99px;

}





.content1-div{

    height: 700px;
    justify-content: center;
  
}

.content1-img{
    justify-content: center;
    margin-left: 310px;
    margin-top: 80px;

}
.content1-text{
    
    margin-top: 400px;
    margin-left: -656px;
    width: fit-content;

}

    



.content2-div{


    height: 700px;
    
}

.content2-img{

    margin-left: -691px;

}




.content2-text{

    margin-left: 39px;
    margin-top: 366px;


}







.content3-div{
    height: 700px;
    
}

.content3-img{

    margin-left: 310px;
}

.content3-text{

    margin-top: 370px;
    margin-left: -654px;

}



.content4-div{

    height: 700px;
    
}

.content4-img{

    margin-left: -661px;

}

.content4-text{
    margin-left: 39px;
    margin-top: 366px;

}





.content5-div{

height: 700px;

}

.content5-img{

    margin-left: 310px;
}

.content5-text{

    margin-top: 370px;
    margin-left: -654px;
}



.leftside-text .size{

    font-size: 26px;


}


}




@media screen and (max-width:915px) {


    #vs-img{

        width: 700px;
        height: 600px;
    }

    .text{

        margin-left: 300px;
    }
    
    .allbuttons{
        padding-left: 44px;
    
    }

    .content1-img{

       
        margin: auto;
        position: relative;
        left: 264px;
        top: -144px;
    
        
    }
.content1-text{
    width: fit-content;
    margin-right: 1px;
    margin-left: -323px;
}

    
#center-img1{
    display: flex;
    justify-content: center;
    
    border: 5px solid lightseagreen;
    width:100%;

    
}

.content2-img{
    margin-left: -660px;
}

.content3-img{

    margin-left: 260px;
}
.content3-text{

    margin-left: -605px;
}

.content4-img{

    margin-left: -598px;
}


.content5-img{

    margin-left: 300px;
}



.link-ul{


}


.leftside-text .size{

    font-size: 20px;
}

}

@media screen and (max-width:800px) {
    .text{

        margin-left: 260px   ;
    }
    .link-ul{
        position: relative;
        top: -10px;
    }
    .link-ul li a {
        font-size: 17px;
        /* position: relative;
        top: -60px; */
    }

    #vs-img{

        position: relative;
        left: -38px;
    }

    .content2-img{

        margin-left: -555px;
    }
    .content4-img{

        margin-left: -507px;
    }
    .content5-img{
        margin-left: 233px;
    }
    .content5-text{

        margin-left: -563px;
    }
}





@media screen and (max-width:780px) {
#logo{

    width: 70px;
    margin-left: -13px;

}
.logo-div{
    margin-left: -10px;
}
.logo-div .logo-heading{

    font-size: 18px;
}
    .text{
        margin-left: 233px;
    }

    #vs-img{
       width: 560px;
       margin-left: 136px;
       

    }


    .link-ul li a{

        font-size: 16px;
    }
    .content1-img{

       place-self: center;
    }

.link-ul  {

        display: none;


    }





    .content1-img{
        margin-left: -40px;
        
    }
    .content2-img{
        margin-left: -585px;
        
    }
    .content3-img{
        margin-left: 197px;
        
    }
    .content3-text{

        margin-left: -540px;
    }
    .content4-img{
        margin-left: -560px;
        
    }
    .content5-img{
        
        margin-left: 200px;
        
    }

    .content5-text{

        margin-left: -560px;
    }


    






}


@media screen and (max-width:715px) {
    .nav-buttons ul li a{

        font-size: 10px;
    }
    
}


@media screen and (max-width:680px) {
    #vs-img{
        margin-left: 103px;
    }
.text{

    margin-left: 192px;
}
    .sec2{
        width: 93%;
    }

    .agreement-div a{
        margin-left: -19px;

    }
    
}

@media screen and (max-width:645px) {
    #vs-img{
        width: 511px;
        left: -17px;
    
    }
    
}


@media screen and (max-width:625px) {

    .nav-bar ul{

        display: none;
    }

    #logo{

        width: 100px;
        height: 100px;
    }

    .logo-heading{
        top: 12px;
        left: 4px;
        position: relative;

        font-size: 30px;
    }

    .text{
        margin-left: 155px;

    }

    #vs-img{

        margin-left: 75px;
        min-width: 70vw;
    
    }
    




    

    .content1-img{
        margin-left: -128px;
        
    }

    .content1-text h2{

        display: flex;
        justify-content: center;
    }

    .content1-text{

        margin-left: -244px;
        text-align: center;
        right: 4px;
    }
    .content2-img{
        margin-left: -474px;
        
    }
    .content2-text{
        text-align: center;
    }
    .content2-text h2{

        display: flex;
        justify-content: center;
    }
    .content3-img{
        margin-left: 130px;
        
    }
    .content3-text h2{

        display: flex;
        justify-content: center;
    }
    .content3-text{
        text-align: center;
        margin-left: -480px;
    }
    .content4-img{
        margin-left: -436px;
        
    }
    .content4-text h2{

        display: flex;
        justify-content: center;
    }
    .content4-text{
        text-align: center;
    }
    .content5-img{
        
        margin-left: 130px;
        
    }

    .content5-text{
        text-align: center;
        margin-left: -470px;
    }

    .content5-text h2{

        display: flex;
        justify-content: center;
    }

    .sec2{

        display: flex;
        justify-content: center;
        width: 568px;
    }

    .button1-elements{


    }

}

@media screen and (max-width:590px) {
    .button1-elements{
        width: 200px;
    }

    .button1-elements #bulb{

        margin-left: 70px;
        
    }
    .button3-elements{

        width: 200px;
        margin-left: 86px;
    }
    
    .button2-elements{

        width: 200px;
    }
    .button2-elements svg {
        margin-left: 16px;
    }
.button4-elements  svg{

    width: fit-content;
}
    .button4-elements{
        width: 200px;
        margin-left: -181px;
    }

.sec2{
    width: 520px;
}

#vs-img{

    width: 508px;
    display: inline-block;
    left: -23px;
}
    
}


@media screen and (max-width:560px) {

    .text{
       margin-left:  130px;

    }

    #vs-img{
        width: 85vw;
        margin-left: 75px;

    }
    .sec2{

        width: 494px;
    }

    .button1-elements{
        width: 200px;
    }

    .button1-elements #bulb{

        margin-left: 70px;
        
    }
    .button3-elements{

        width: 200px;
        margin-left: 86px;
    }
    
    .button2-elements{

        width: 200px;
    }
    .button2-elements svg {
        margin-left: 16px;
    }
.button4-elements  svg{

    width: fit-content;
}
    .button4-elements{
        width: 200px;
        margin-left: -181px;
    }


   
}

@media screen and (max-width:535px) {

    

    .sec2 {
        width: 447px;
        position: relative;
        left: -23px;
    }
    
}

@media screen  and (max-width:520px) {

    .text{
        margin-left: 120px;
    }

    .sec2{

        width: 424px;
        margin-left: 22px;
    }
    
    .content1-img{

        margin-left: -190px;
    }
    
    .content1-text{

        margin-left: -182px;
        right: 3px;
        position: relative;
    }


    .content2-img{

        margin-left: -469px;
    }


    .content3-img{

        margin-left: 78px;
    }

    .content3-text{
        margin-left: -451px;
    position: relative;
    right: 2px;

    }

    .content4-img{

        margin-left: -400px;
    }

.content5-img{


    margin-left: 70px;
}
.content5-text{

    margin-left: -430px;
}

}

@media screen and (max-width: 560px){
#vs-img {
    width: 78vw;
    margin-left: 83px;

    
}
.text{
    margin-left: 88px;
}
}

@media screen and (max-width:470px) {

    .text{
        margin-left: 75px;
    }

    #vs-img{

        margin-left: 62px;
    }

    .sec2{

        width: 387px;
    }

    .content2-img{

        margin-left: -430px;
    }

    .content3-img{

        margin-left: 60px;
    }
    .content3-text{
        margin-left: -420px;
    }

    .content4-img{

        margin-left: -374px;

    }
    .content5-img{
        margin-left: 51px;
    }
    .content1-text p,.content2-text p,.content3-text p,.content4-text p,.content5-text p{
        font-size: 15px;
    }
    .content1-text h2,.content2-text h2,.content3-text h2,.content4-text h2,.content5-h2 p{
        font-size: 23px;
    }

    .content5-text h2{

        font-size: 23px;
    }


    
}

@media screen and (max-width:450px) {
#vs-img{

    margin-left: 78px;
}
.sec2{


}
.content1-img{
    width: 70vw;
}
.content1-text{
    
    margin-left: -115px;
}

.content2-img {
    
    width: 70vw;
    margin-left: -396px;
}
    
.content3-img{
    width: 70vw;
    margin-left: 82px;
}
.content3-text{

    margin-left: -374px;
    
}

.content4-img {
 
    width: 70vw;
}
.content5-img {
  
    width: 70vw;
    
    margin-left: 82px;
}
.content5-text{
    margin-left: -383px;
}

}

@media screen  and (max-width:430px) {

    .text{

        margin-left: 59px;

    }
    .nav-2{
        height: fit-content;
    }

    #vs-img{
        width: 333px;
    }
    .button2-elements svg{

        width: 178px;
        display: inline-block;
    }
    .sec2{

        width: 293px;
        margin-left: 70px;
        display: inline-block;
        /* overflow-y: hidden; */
        overflow: hidden;
    }


    
    .content1-img{

        margin-left: -186px;
        width: 76vw;
    }
    .content1-text{

        margin-left: -81px;
    }
    .content2-img{
        width: 76vw;
        margin-left: -383px;

    }
    .content2-text{
        margin-left: 11px;
    }
    .content3-img{
         width: 76vw;

    }
    .content3-text{

        margin-left: -371px;
    }
    .content4-img{

      width: 76vw;
    }
    .content4-text{

        margin-left: 9px;
        position: relative;
        top: -36px;
    }


    .content5-text{

        margin-left: -363px;
        position: relative;
        top: -40px;
    }
    
    .content5-img{

     width: 76vw;
    }
    
}

@media screen and (max-width:405px) {
    #vs-img {
        width: 314px;
    }

    .text{
        margin-left: 43px;
    }

    .content2-img{
margin-left: -366px;

    }

    .content3-img{
        margin-left: 67px;

    }
    .content4-img{
        margin-left: -329px;
        width: 67vw;
    }

    

    .content5-img{
        margin-left: 70px;
    }
    
}
@media screen and (max-width:390px) {
    #vs-img{

        margin-left: 65px;
    }


    .content1-text{

        margin-left: -86px;
        justify-content: center;
        text-align: center;
    
    }
    .content2-img{

        margin-left: -338px;
    }

    .content2-text{

        text-align: center;

    }

    .content3-text{

        text-align: center;
    margin-left: -342px;
    }


    .content4-img{
        margin-left: -331px;

        
    }
    .content4-text{
        text-align:center;
    }
    .content5-text{
        
        text-align: center;
        margin-left: -333px;
    
    }
    .sec2{
        width: 270px;
    }

    .text{
        margin-left: 42px;
    }
    

}


@media screen and (max-width:370px) {
.sec2{

    width: 250px;
}
.nav-2 {
    height: fit-content;
}

.text{
    margin-left: 30px;


}
.black-box{
    position: relative;
    left: -3px;
}
#vs-img{
    margin-left: 35px;
    top: -25px;
    left: -5px;

}
    

.content1-img{

    
}
.content1-text{
    margin-left: -84px;
    position: relative;
    text-align: center;
    top: -61px;


}
.content2-img{
    margin-left: -321px;

}
.content2-text{

    text-align: center;
}
.content3-img{
    margin-left: 71px;

}
.content3-text{
    text-align: center;
    margin-left: -333px;
}

.content4-img{
margin-left: -320px;

}
.content4-text{
position: relative;
top: -90px;
    text-align: center;
}
.content5-img{


}
.content5-text{
position: relative;
top: -60px;
padding-left: 10px;
    text-align: center  ;
}

.button1-elements{

    width: 150px;
}
.button2-elements{

    width: 150px;
}
.button2-elements svg {
    width: 160px;
    display: inline-block;
}
.button3-elements{

    width: 150px;
    position: relative;
    left: 28px;
}
.button4-elements{

    width: 150px;
    position: relative;
    left: -25px;
}

.button1-elements svg{

    position: relative;
    left: -18px;
}
.button2-elements svg{

    position: relative;
    left: -10px;
}





#logo{
    width: 75px;
    height: 75px;
}
.logo-heading{
    position: relative;
    top: 1px;
}






}


@media screen and (max-width:350px) {
   
 .sec2{
    width: 200px;
 }   


 #vs-img{
    margin-left: 16px;
    top: -25px;
    left: 11px;
 }
 .content5-text{
    margin-left: -330px;
 }

.text{

    margin-left: 17px;
}
.content4-img{
    margin-left: -290px;
}









}
@media screen and (max-width:335px) {

    .text{

        margin-left: 18px;
    width: 294px;
    }
    .black-box{
        left: 14px;
        width: 232px;
        position: relative;
    }
    #vs-img{
        width: 296px;
        left: 3px;
    

    }

    .agreement-div{
        position: relative;
        left: -23px;
    }

    .sec2{

        width: 240px;
        margin-left: 50px;
    }
    .allbuttons{
        padding-left: 70px;
    }
    
    .agreement-div{
        margin-left: 51px;
    }


    .content1-img{

        margin-left: -212px;
    }

    .content1-text{
        margin-left: -29px;
    }
    .content2-img{
        margin-left: -310px;
    }
    .content5-img{
        
    margin-left: 54px;
    }
    .content5-text{
        margin-left: -302px;
    }
}



@media screen and (max-width:325px) {

    .text{
        top: 30px;
        position: relative;
        width: 281px;
        margin-left: 15px;
    }
    .black-box{

        position: relative;
        left: 9px;
        width: 230px;
    }
    .nav-2{

        height: fit-content;
    }
.agreement-div{
    position: relative;
    left: -34px;
    width: 249px;
}
    #vs-img{
        width: 250px;
    height: 528px;
    margin-left: 31px;
    top: 35px;

    }
    
    .sec2{
        width: 256px;
        margin-left: 20px;
    }

    #b{

        width: 196px;
    }
    .nav-2 p{

        font-size: 16px;
    }
    .nav-2 p a{

        font-size: 16px;
    }




    .button2-elements svg{

        width: 136px;
    }






    .content1-img{

        margin-left: -205px;

    }

    .content1-text{
        margin-left: -20px;

    }


    .content2-img{
        margin-left: -290px;

    }

    .content2-text{


    }

    .content3-img{
        margin-left: 57px;
    }
    .content3-text{
        margin-left: -287px;
    }


    .content4-img{

        margin-left: -258px;

    }
    .content4-text{

    }

    .content5-img{
    position: relative;
    top: -20px;

    }

    .content5-text{

    margin-left: -300px;
    position: relative;
    top: -130px;
    }


    .button2-elements{
        position: relative;
        left: 26px;


    }

    .button4-elements{

        position: relative;
        left: 5px;
    }
    
    .button1-elements{
        position: relative;
        left: 27px;

    }

    .button3-elements{
        position: relative;
        left: 54px;
    }

.nav-2{
    height: fit-content;
}

    
}

@media screen and (max-width: 325px){
.sec2 {
    width: 236px;
    margin-left: 20px;
}
}

@media screen and (max-width:295px){

    #vs-img{

        width: 260px;
        margin-left: 16px;
    }
    .text{
        left: -10px;  
        position: relative;


    
}
.sec2{
    width: 230px;
    margin-left: 30px;
}

.content2-img {
    margin-left: -274px;
}

.content3-img {
    margin-left: 44px;
}

.content3-text{
    padding-left: 30px;
}

.content4-img{

    margin-left: -237px;
}

.content5-text{
    margin-left: -270px;
}
}



@media screen and (max-width:280px) {
.content5-text{

    margin-left: -295px;
}
   
    .black-box{

        left: -13px;
    }

    .text{

        margin-left: 22px;
        width: 240px;
    }
    .agreement-div{
        left: -38px;
        top: 8px;
        width: 215px;
    }

    .sec2{

        width: 220px;
        margin-left: 20px;
    }
    .button1-elements{
        left: 50px;

    }
    .button3-elements{
        left: 90px;

    }






    .content2-img{
        margin-left: -252px;

    }

    .content3-text{
        margin-left: -307px;
    top: -88px;
    }

    .content3-img{

        margin-left: 33px;
    }
.content4-img{
margin-left: -240px;

}
.content5-text{

    margin-left: -265px;
}

.button2-elements svg{
    width: 193px;
}
#vs-img{

    left: -5px;
    position: relative;
}


}





@media screen and (max-width:265px) {
    #vs-img{

        width: 227px;
        left: 3px;
    
    }
    .sec2{

        width: 200px;
        left: -29px;
    }
    .button3-elements svg{
        position: relative;
        left: -8px;

    }

    .button1-elements p a,.button2-elements p a,.button3-elements p a,.button4-elements p a{
        font-size: 17px;
    }

    .content1-img{
margin-left: -222px;

    }
    .content1-text{
        margin-left: 15px;

    }

    .content2-img{

        margin-left: -233px;
    }

    .content2-text{
        position: relative;
        top: -80px;
    }

    .content3-text{
        margin-left: -246px;

    }

    .content4-img{

        margin-left: -213px;
    }
    .content5-img{
        margin-left: 44px;
    }

.content5-text{
    margin-left: -233px;
}
}


@media screen and (max-width: 258px){
    .text {
        margin-left: 15px;
        width: 239px;
    }
    #vs-img{
    
        width: 227px;
        left: 2px;
    }
    }



@media screen  and (max-width:253px) {

    .text{


    }
    #vs-img{

    }
    .sec2 {
        width: 193px;
        left: -34px;
    }
    
}


@media screen and (max-width:245px) {
#vs-img{

    width: 195px;
    margin-left: 21px;
    height: 423px;
}


.text #heading-one,#heading-two{
    font-size: 30px;
}
.sec2{
    width: 1px;

    margin-left: -7px;
    /* display: none; */
}
.vscode {
    height: 1000px;
}

.agreement-div .agreement{
    font-size: 10px;
    
}
.agreement-div{
    position: relative;
    left: -59px;
    top: -7px;

}
.black-box{
    width: 200px;
}
    .text{
        width: 200px;
        margin-left: 27px;
    }

    #b{

        width: 170px;
        height: 60px;
    
    }
    .agreement-div a {
        margin-left: -6px;
    }
    #down{
        height: 60px;
    }
    .text button h3{

        font-size: 12px;
    }


    .button1-elements{
width: 100px;
        
    }
    .button2-elements{

width: 100px;
    }
    .button3-elements{
width: 100px;

    }
    .button4-elements{
width: 100px;

    }

    .button1-elements svg,.button2-elements svg,.button3-elements svg,.button4-elements svg{

        width: 160px;
    }




.content2-img{
    margin-left: -215px;


}
.content3-text{
    margin-left: -234px;
}

.content4-img{

    margin-left: -195px;
    width: 161px;
    height: 139px;
}

.content4-text{

    position: relative;
    top: -133px;
}

.content5-img{
    margin-left: 26px;

}
.content5-text{
    margin-left: -217px;


}
.content2-text{

    top: -90px;
    position: relative;
}

.sec2{
    display: none;
}



}

@media screen and (max-width:217px) {
    #logo{
        float: left;
    top: 2px;
    position: relative;

    }

    .logo-heading{
        position: relative;
    top: -1px;
    text-align: center;

    }

    .text #b{

        width: 150px;
        height: 60px;
    }
    .sec2{

        display: none;
    }
    #vs-img{
        width: 173px;
    }
.black-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: -4px;
}
.text p{
    font-size: 12px;
}
.text{
    width: 170px;
    left: -1px;
}
.agreement-div{
    width: 138px;
    top: -12px;
    left: -45px;
}

.text #heading-one,#heading-two{
    font-size: 25px;
}

.nav-2 p,a{
    font-size: 10px;
}
.nav-2 p a{
    font-size: 10px;
}

    #down{
        width:24px;
        height: 60px;
    }


.content1-img{

    margin-left: -233px;
}



.content2-img{

    margin-left: -190px;
}



.content3-img{
    margin-left: 25px;

}

.content3-text{
    margin-left: -208px;

}

.content4-img{

    margin-left: -185px;
}

.content5-text{

    margin-left: -194px;
    margin-top: 327px;

}



.leftside-div .size{

    font-size: 11px;
}
.lastcontent-div p{
    font-size: 10px;
}

}



@media screen and (max-width:175px) {
    .text {
        width: 142px;
        top: 20px;
    }
   .text #b{

        width: 130px;
    }
    
    .agreement-div{
        left: -59px;
    }
    .logo-heading{
        top: -40px;
        left: -4px;
    }
    #logo{
        left: 10px;
        float: none;
        
    }


    .content2-img{

        margin-left: -164px;
    }
    .content3-text{

        margin-left: -220px;
 }
 .content4-img{

    margin-left: -145px;
    width: 124px;
 }
 .content4-text p{
    line-height: normal;
 }
 .content4-text p a{
    line-height: normal;
 }

 .content5-text{
    margin-left: -162px;
 }

 .content5-text p{
    line-height: normal;
 }
 .content5-text p a{
    line-height: normal;
 }
}


@media screen and (min-width:1850px) {
    .search-div{
        float: right;
        margin: auto;
    }
    
    .text{
        margin-left: 333px;
    }

    .content2-img{
        float: right;
        margin: auto;
    }

    .content2-text{

        margin-left: 200px;
    }
    .content4-text{
        margin-left: 203px;
    }

    .lastcontent-div p{
        font-size: 23px;
    }
    .lastcontent-div p a{
        font-size: 23px;
    }

    .lastcontent-div h5{

        font-size: 30px;
    }

    .footer-li a{
        font-size: 20px;
    }
}
